{% extends '../base.html' %}

{% block content %}

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    Smile!
    <div class="magazine-card">
      <p>{{ magazine.title }}</p>
      {% for issue in magazine.issues.all %}
        <p>Issue: {{ issue.title }}
      {% endfor %}
      <p>{{ magazine.description }}</p>
      <p>{{ magazine.release_cycle }}</p>
    </div>
  </main>
</body>

{% endblock %}
{% comment %} 
{% for magazine in genre.magazines.all %}
{% for genre in magazine.genres.all %} {% endcomment %}

{% comment %} one or the other ^ not both  {% endcomment %}
