<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    <div class="genre-card">
      <p>Genre: {{ genre.genre_name }}</p>
      {% for mags in genre.mags.all %}
        <p>{{ mags.title }}
      {% endfor %}
    </div>
  </main>
</body>

</html>