<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    {% for magazine in magazines %}
      <div class="magazine">
        <p>{{magazine.title}}</p>
        <p>{{magazine.releasecycle}}</p>
        <p>{{magazine.description}}</p>
        <p><img src={{magazine.image}} width=100px></p>
      </div>
    {% endfor %}
  </main>
</body>

</html>