{% extends '../base.html' %}

{% block content %}
<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    <div class="book">
      <p>{{book.title}}</p>
      <p>{{author.name}}</p>
      <p>{{book.pages}}</p>
      <p>{{book.isbn}}</p>
      <p>{{book.description}}</p>
      <p>{{book.published_in}}</p>
      <p>{{book.in_print}}</p>
      <p><img src={{book.image}} width=100px></p>
  </main>
</body>
{% endblock %}