{% block content %}
<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    {% for book in books %}
      <div class="book">
        <p>{{book.title}}</p>
        <p>{{book.author.name}}</p>
        <p>{{book.pages}}</p>
        <p>{{book.isbn}}</p>
        <p>{{book.description}}</p>
        <p>{{book.year_published}}</p>
        <p>{{book.in_print}}</p>
        <p><img src={{book.image}} width=100px></p>
      </div>
    {% endfor %}
  </main>
</body>

{% endblock %}